.fontStyle{
    font-size: 18px;
    font-family:'Rubik', sans-serif;
    color: hsl(0, 0%, 17%);
}

h3{
    padding-top: 20px;
    text-align: center;
    background:hsl(0, 0%, 59%) ;
    

}
tbody{
    color: hsl(0, 0%, 59%);
}
